.center-modal-bg {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 30, 30, 0.45);
  backdrop-filter: blur(4px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-modal-window {
  background: #23202a;
  border-radius: 22px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 0;
  min-width: 380px;
  max-width: 600px;
  width: 90vw;
  min-height: 350px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 3px solid #ffb0f7;
}

@media (max-width: 500px) {
  .center-modal-window {
    min-width: 90vw;
    max-width: 98vw;
    min-height: 60vw;
    padding: 0;
  }
} 